  <h1 class="title">VetOnline Meet</h1>
  <p id="notification" hidden></p>
  <ion-buttons slot="start">
    <ion-back-button color="dark" default-href="#" [routerLink]="['/dashboard']"></ion-back-button>
  </ion-buttons>
  <div class="meet-area">
      <video id="remote-video"></video>

      <video id="local-video"></video>
      <!--div class="meet-controls-bar">
          <button onclick="startScreenShare()">Screen Share</button>
      </div-->
  </div>


<script src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script>
<script src="script.js"></script>

