<ion-header>
  <ion-toolbar>
    <ion-title>Bienvenido!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>    
  <div class="card flex justify-content-center">
    <form [formGroup]="formGroup">
       <p-toast [breakpoints]="{'920px': {width: '100%', right: '0', left: '0'}}"></p-toast>
      <p-slider formControlName="status"></p-slider>
      <button type="button" pButton pRipple (click)="showOn()" label="Activarse" class="p-button-success"></button>
      <button type="button" pButton pRipple (click)="showOff()" label="Descativarse" class="p-button-danger"></button>
      
  </form>
</div>

</ion-content>
