<ion-header class="header">
  <ion-toolbar>
    <ion-title>Vet Online</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="backgroundLog">
  <ion-card>
    <img src="../../assets/backLog.png" alt="logoVet" class="img-card"> 
    <ion-card-content>
      <form (ngSubmit)="loguedUser()" [formGroup]="form">
        <ion-list>
          <ion-item fill="solid">
            <ion-label position="floating" >Email</ion-label>
            <ion-input formControlName="email" type="email"  class="custom"></ion-input>
            <ion-note slot="helper">Ingrese un correo valido</ion-note>
            <ion-note slot="error">Invalid email</ion-note>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input formControlName="pass" type="password" value="password" class="custom" ></ion-input>
          </ion-item>
        </ion-list>
      </form>
      <div class="button-container">
      <ion-button type="submit" (click)="loguedUser()" class="colorLogin Button" >
        Ingresar
      </ion-button>
      <a href="#" [routerLink]="['/registro']" class="footLogin">Registrarse</a>
    </div>
    </ion-card-content>
  </ion-card>

</ion-content>