<ion-header>
  <ion-toolbar >
    <ion-title>Veterinarios</ion-title>
    <ion-searchbar placeholder="Buscar" animated (ionChange)=" searchVet($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content color="my-color">
  <div class="row border h-75 no-gutters">
    <div class="col-9 bg-light border h-100 d-flex justify-content-center overlay-container" >

        <video class="border border-danger w-100 h-100" #myVideo>
        </video>
        
        <div class="justify-content-center overlay-item">
            <input type="button" value="Video" class="btn btn-sm btn-primary">
            <input type="button" value="Audio" class="btn btn-sm btn-primary ml-1">
            <input type="button" value="Screen Share" class="btn btn-sm btn-primary ml-1">
            <input type="button" value="File Transfer" class="btn btn-sm btn-primary ml-1">
        </div>
    </div>

    <div class="col-3 bg-light border scrollable h-100">
        <P > <b><i>SalaDeLlamadas</i></b>Hola!</P>
    </div>
</div>

<div class="row flex-nowrap room-members">
    <div class="col" *ngFor="let mitronPeer of mitronPeers">
        <video [id]="mitronPeer?.peerId" class="h-100 border border-danger" #peerVideo></video>
    </div>
</div>

  <ion-list>
    <div>
      <ion-item *ngFor="let vet of vets" class="listaVets">
        <ion-avatar slot="start">
          <img src="../../assets/veterinarios-avatar/veterinaria4.jpg" alt="">
        </ion-avatar>
        <ion-label>{{vet.nombre}} {{vet.apellido}} </ion-label>
        <ion-avatar slot="end">
          <ion-icon size="large" name="phone-portrait-outline" (click)="comenzarComunicacion()"></ion-icon>
        </ion-avatar>
      </ion-item>
    </div>
  </ion-list>
    <ion-infinite-scroll (ionInfinite)="cargandoInfo($event)">
      <ion-infinite-scroll-content loadingText="Cargando..." loadingSpinner="bubbles"></ion-infinite-scroll-content>
    </ion-infinite-scroll>
    
</ion-content>