<ion-header>
  <ion-toolbar class="toolB">
    <ion-title>Usuarios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-fab>
    <ion-fab-button bottom left color="lil-color">
      <ion-icon name="Agregar Mascota"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-buttons>
    <input type="button" value="Agregar Tarjeta" class="addCard">
  <ion-icon name="journal-outline"></ion-icon>
</ion-buttons>

<div class="card flex justify-content-center">
  <p-panel header="Header" [toggleable]="true">
      <p>
        <p-steps [model]="items" [readonly]="false" [activeIndex]="activeIndex" (activeIndexChange)="onActiveIndexChange($event)"></p-steps>
      </p>
  </p-panel>
</div>
</ion-content>
