ion-content.backgroundDashs{
    --background: url(../../assets/logoVetOnline.jpeg);
    position: absolute;
    display: flex;
    left: 0;
    top: 0;
}

.no-scroll .scroll-content {
    overflow: hidden;
}

.listaVets{
    display: flex;
    flex-direction: row;
    text-align: center;
    position: relative;
    z-index: 20;

}