ion-content.backgroundDash{
    --background: url(../../assets/backLog.png);
    position: absolute;
    display: flex;
    left: 0;
    top: 0;
    
}

.no-scroll .scroll-content {
    overflow: hidden;
}

.listaVets{
    display: flex;
    flex-direction: row;
    text-align: center; 
    z-index: 20;
}
.sideMenu{
    background-color: #FCEFF7;
}

ion-card.cardastico{
    --background: #F2B1DB ;
    --color: rgb(255, 255, 255);
    --background: #F2B1DB
    
}

ion-card-subtitle{
    --color: rgb(255, 255, 255);
}

ion-card-content.contentVet{
    --color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

        
.border-card-on{
  
    position: relative;
    margin: auto;
    margin-top: 20px;
    height: 440px;
    width: 300px;
    line-height: 64px;
    text-align: center;
    color: #fff;
    font-size: 20px;
    border-radius: 10px;
    transition: all .3s;
    cursor: pointer;
    
    &:hover {
        filter: contrast(1.1);
    }
    
    &:active {
        filter: contrast(0.9);
    }
    
    &::before,
    &::after {
        content: "";
        position: absolute;
        top: -10px;
        left: -10px;
        right: -10px;
        bottom: -10px;
        border: 8px solid green;
        transition: all .5s;
        animation: clippath 3s infinite linear;
        border-radius: 10px;
    }
    
    &::after {
        animation: clippath 3s infinite -1.5s linear;
    }
   


}
@keyframes clippath {
    0%,
    100% {
        clip-path: inset(0 0 98% 0);
    }
    
    25% {
        clip-path: inset(0 98% 0 0);
    }
    50% {
        clip-path: inset(98% 0 0 0);
    }
    75% {
        clip-path: inset(0 0 0 98%);
    }
}




ion-card.border-card-off{
    border-radius: 20px;
    --background:red ;
    height: 400px;
    width: 300px;
    margin-top: 200px;
    margin-left: 100px;
    margin-right: 100px;
    padding-top: 50px;
    left: 0;
    right: 0;
}
