<ion-app>
  <ion-content class="backgroundDash no-scroll">
    <ion-split-pane contentId="main-content" class="">
      <ion-menu contentId="main-content" type="overlay">
        <ion-list id="inbox-list">
          <ion-list-header>Bienvenido</ion-list-header>
          <ion-note>veteonline@gmail.com</ion-note>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false"
              routerLinkActive="selected">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-menu>
      <ion-router-outlet id="main-content">
        <app-veterinarios  *ngIf="!showAsoc()"></app-veterinarios>
      </ion-router-outlet>
    </ion-split-pane>
    <ion-card *ngIf="showAsoc()" [ngClass]="{'border-card-on':  associated?.status ==='on'}">
      <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
      <ion-card-header>
        <ion-card-subtitle>Mi Veterinario</ion-card-subtitle>
        <ion-card-title>{{associated?.nombre}} {{associated?.apellido}}</ion-card-title>
      </ion-card-header>
      <ion-card-content class="contentVet" style="font-family: 'Times New Roman', Times, serif; color:antiquewhite" >
        Estado: {{associated?.status}}
      </ion-card-content>
      <ion-button fill="clear" [routerLink]="['/data-veterinario']">Video Llamada</ion-button>
      <ion-button fill="clear">Mensaje</ion-button>
    </ion-card>
    <ion-infinite-scroll (ionInfinite)="cargandoInfo($event)">
      <ion-infinite-scroll-content loadingText="Cargando..." loadingSpinner="bubbles"></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-content>
</ion-app>
