ion-content.backgroundDash{
    --background: url(../../assets/backLog.png);
    position: absolute;
    display: flex;
    left: 0;
    top: 0;
}

.no-scroll .scroll-content {
    overflow: hidden;
}

.listaVets{
    display: flex;
    flex-direction: row;
    text-align: center;
    
    z-index: 20;

}
.sideMenu{
    background-color: #FCEFF7;
}