ion-content.backgroundDashs{
    --background: url(../../assets/logoVetOnline.jpeg);
    display: flex;
    position: absolute;
    margin-top: 0;
}
.listaVets{
    display: flex;
    flex-direction: row;
    text-align: center;

}