<ion-header>
  <ion-toolbar>
    <ion-title>Terminos y Condiciones</ion-title>
    <ion-buttons slot="start">
      <ion-back-button color="dark" default-href="#" [routerLink]="['/registro']"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="Tycs">
  <p>
    Términos y Condiciones
    I - Términos y Condiciones de uso
    Este contrato describe los términos y condiciones generales (en adelante los "Términos y Condiciones Generales" o
    "Términos y condiciones") aplicables al uso de los servicios ofrecidos por VET ON LINE (en adelante "VET ON LINE "),
    dentro de la aplicación móvil Vet on Line (en adelante "la Plataforma").
    Cualquier persona (en adelante "Usuario" o en plural "Usuarios") que desee acceder y/o usar la Plataforma o los
    Servicios podrá hacerlo sujetándose a los Términos y Condiciones Generales respectivos, junto con todas las demás
    políticas y principios que rigen Vet on Line y que son incorporados al presente por referencia.
    El Usuario debe leer, entender y aceptar todas las condiciones establecidas en los Términos y Condiciones Generales
    y en la Política de Privacidad así como en los demás documentos incorporados a los mismos por referencia, previo a
    su registración como Usuario de VET ON LINE .
    II - Aceptación
    CUALQUIER PERSONA QUE NO ACEPTE ESTOS TÉRMINOS Y CONDICIONES GENERALES, LOS CUALES TIENEN UN CARÁCTER OBLIGATORIO Y
    VINCULANTE, DEBERÁ ABSTENERSE DE UTILIZAR LA PLATAFORMA Y/O LOS SERVICIOS. El hecho de aceptar su registración,
    importa, para el interesado, declaración de haber tomado conocimiento y aceptado los Términos y Condiciones.
    Cualquier Usuario que sea registrado en la Plataforma y haga usufructo de la misma acepta expresamente todas y cada
    una de las disposiciones contenidas y previstas en los presentes Términos y Condiciones.
    III - Modificaciones del Acuerdo
    VET ON LINE podrá modificar los Términos y Condiciones Generales en cualquier momento haciendo públicos en la
    Plataforma los términos modificados. Todos los Términos y condiciones modificados entrarán en vigor al momento de su
    publicación y el uso continuado de la Plataforma por parte del Usuario implica la aceptación de los nuevos Términos
    y condiciones. Si el usuario no acepta los nuevos Términos y condiciones deberá comunicarlo por correo electrónico a
    la dirección equipo@vetonline.com.ar, en cuyo caso quedará disuelto el vínculo contractual y será inhabilitado como
    Usuario, siempre que, en caso que sea pertinente no tenga deudas pendientes. En caso de tener deudas pendientes, la
    baja o inhabilitación operará una vez canceladas las mismas, las que se continuarán devengando hasta la total
    cancelación.
    IV - Usuarios
    La Plataforma tiene dos tipos de Usuario, a saber: (i) Cliente y (ii) Prestadores de Servicio.
    i. Cliente/s: Usuario que accede a la Plataforma en busca de un servicio para una mascota.
    ii. Prestador/es de Servicio: Usuario que accede a la Plataforma a efectos de ofrecer sus servicios a un Cliente.
    De esta forma, cada usuario de la Plataforma podrá actuar como Cliente (en adelante “Cliente” o en plural
    “Clientes”), si es el propietario de una mascota y busca recibir algún servicio ofrecido a través de la Plataforma;
    o como Prestador de servicios (en adelante "Prestador de servicios" o "Prestador"), si es una persona que ofrece
    servicios a los Clientes registrados a través de la Plataforma.
    V - Condiciones de uso
    1. Costo de Acceso a la Plataforma
    El acceso a la Plataforma es gratuito para los Clientes, salvo en lo relativo al coste de la conexión a través de la
    red de telecomunicaciones suministrada por el prestador de acceso contratado (ISP) por el Usuario, que estará a su
    exclusivo cargo. En caso de solicitar ser Prestador de Servicio VET ON LINE solicitará un porcentaje de la tarifa de
    la consulta veterinaria, el cual será informado al correo electrónico declarado en el Registro en la Plataforma.
    2. Acceso a la condición de Prestador de Servicio
    Por regla general, para ser Prestador de Servicio el Usuario deberá completar todos los campos del formulario de
    inscripción con datos válidos. Quien aspire a convertirse en Prestador deberá verificar que la información que pone
    a disposición de VET ON LINE sea exacta, precisa y verdadera (en adelante los "Datos Personales"). Asimismo asumirá
    el compromiso de actualizar los Datos Personales cada vez que los mismos sufran modificaciones. VET ON LINE podrá
    utilizar diversos medios para identificar a los Usuarios Registrados, pero VET ON LINE no se responsabiliza por la
    certeza de los Datos Personales que sus Usuarios Registrados pongan a su disposición. Los Usuarios Registrados
    garantizan y responden, en cualquier caso, de la veracidad, exactitud, vigencia y autenticidad de los Datos
    Personales puestos a disposición de VET ON LINE .
    A los efectos de adquirir la condición de Prestador de Servicio de VET ON LINE , el Usuario deberá cumplimentar el
    formulario de registro, aceptar la Política de Privacidad, y los presentes Términos y Condiciones y Presentar toda
    la documentación correspondiente que le pueda ser solicitada vía correo electrónico desde la cuenta
    equipo@vetonline.com.ar. Los Términos y Condiciones serán de aplicación tanto para los Usuarios como para los
    Usuarios Registrados, así como para Clientes y Prestadores de servicios, no obstante ello, la relación con cada tipo
    de Usuario se regirá en forma particular por los Términos y Condiciones particulares que les resulten aplicables.
    3. Acceso a la cuenta personal y obligación de confidencialidad de la Clave de Seguridad.
    El Usuario tendrá acceso a una cuenta personal ("La Cuenta") mediante el ingreso de una dirección de correo
    electrónico propia y personal, y clave de seguridad personal elegida ("Clave de Seguridad"). Esta Clave de Seguridad
    es personal e intransferible. El Usuario Registrado se obliga a mantener en estricta confidencialidad su Clave de
    Seguridad. El Usuario Registrado será, en todo caso, responsable por todo daño, perjuicio, lesión o detrimento que
    del incumplimiento de esta obligación de confidencialidad se genere por cualquier causa.
    La Cuenta es personal, única e intransferible, y está prohibido que un mismo Usuario registre o posea más de una
    Cuenta. En caso de que VET ON LINE detecte distintas Cuentas que contengan datos coincidentes o relacionados, podrá
    cancelarlas, suspenderlas o inhabilitarlas, a su sola discreción, siendo el mismo motivo suficiente para dar de baja
    al Usuario Registrado, incluso en su primera Cuenta. El Usuario será responsable por todas las operaciones
    efectuadas desde su Cuenta, pues el acceso a la misma está restringido al ingreso y uso de su Clave de Seguridad, de
    conocimiento exclusivo del Usuario y cuya confidencialidad es de su exclusiva responsabilidad. El Usuario se
    compromete a notificar a VET ON LINE en forma inmediata y por medio idóneo, fehaciente, eficiente y eficaz,
    cualquier uso no autorizado de su Cuenta, así como el ingreso por terceros no autorizados a la misma. Se encuentra
    prohibida la venta, cesión, transferencia o transmisión de la Cuenta bajo cualquier título, ya sea oneroso o
    gratuito, en cuyo caso la misma será dada de baja sin previo aviso.
    VET ON LINE se reserva el derecho de rechazar cualquier solicitud de registro o de cancelar un registro previamente
    aceptado, cuando a su sola discreción considere que no se ha dado cumplimiento a la totalidad de las pautas
    establecidas en los Términos y Condiciones, sin que esté obligado a comunicar o exponer las razones de su decisión y
    sin que ello genere derecho a indemnización o resarcimiento alguno a favor del Usuario Registrado alcanzado por
    dicha decisión.
    4. Obligación de mantener actualizados los Datos Personales.
    Los Datos Personales introducidos por todo Usuario en la Plataforma deberán ser exactos, actuales y veraces en todo
    momento. MacotaMás se reserva el derecho de solicitar algún comprobante y/o dato adicional a efectos de corroborar
    los Datos Personales, y de suspender temporal y/o definitivamente a aquellos Usuarios cuyos datos no hayan podido
    ser confirmados. La baja o inhabilitación de un Prestador de servicios registrado implicará la baja de su perfil,
    todos sus servicios publicados, sin que ello genere derecho a resarcimiento o indemnización alg
    VI - Condiciones de adquisición de servicios a través de VET ON LINE
    Los datos que aparecen en la plataforma en relación con los servicios ofrecidos por los Prestadores, son los que
    ellos individualmente determinen en relación con los servicios y, en todo caso, tendrá carácter orientativo. De esta
    forma, la duración y características de cada uno de los servicios ofrecidos serán los que aparezcan indicados en el
    propio perfil del Prestador, decidiendo cada uno de ellos dichas características de los servicios, los valores y los
    horarios en los que se efectúan.
    VET ON LINE es una empresa que pone a disposición una plataforma para que Clientes registrados contacten con
    Prestadores de servicios y puedan contratar los servicios ofrecidos por éstos. En este sentido, los Prestadores
    establecerán de manera independiente de VET ON LINE el tipo de servicios que brindan, su disponibilidad y los
    precios de los mismos.
    Los Clientes que deseen proceder a la contratación de los servicios ofrecidos por los Prestadores podrán solicitar a
    través de la Plataforma cualquier información necesaria para el servicio. En todo caso, VET ON LINE servirá como un
    mecanismo para agilizar y facilitar la gestión de la contratación que se producirá entre el Prestador y el Cliente,
    y serán el Prestador y el Cliente los que determinen y fijen las características, modalidades y duración que tendrá
    cada servicio contratado de manera individualizada.
    Asimismo, VET ON LINE se limita a facilitar el contacto entre Usuarios, por lo tanto, no implica que recomiende a un
    Prestador en particular, ni que VET ON LINE verifique la idoneidad o la capacidad técnica de los Prestadores o que
    haga investigación documental alguna para certificar los conocimientos de los Prestadores. VET ON LINE no asegura la
    veracidad o la fiabilidad de los Contenidos.
    VET ON LINE no ofrece ni proporciona de manera directa ningún servicio relacionado con la actividad de los
    Prestadores, sino sólo su intermediación. Por ende, no le une ninguna relación de naturaleza jurídico-laboral, con
    los Prestadores, lo cual queda expresamente reconocido y aceptado por los Prestadores, mediante su mera solicitud de
    registración en la Plataforma. Por tanto, VET ON LINE no será responsable de los daños y/o perjuicios que puedan
    sufrir las partes, con motivo o en ocasión de la contratación entre ellas ni de la utilización de los servicios.
    Las personas registradas como Prestadores son libres de ofrecer sus servicios fuera de la plataforma que pone a
    disposición VET ON LINE , no obstante, si Prestador y Cliente han establecido su primer contacto a través de la
    plataforma y deciden comenzar o continuar su relación comercial por fuera de la plataforma, VET ON LINE dará de baja
    las cuentas de ambos, sin derecho a réplica ni resarcimiento.
    VET ON LINE se reserva el derecho a realizar monitoreo de los mensajes intercambiados entre Clientes y Prestadores
    dentro de la Plataforma, así como a solicitar servicios al Prestador bajo la dinámica "mistery shopping" con el
    objeto de verificar que el Prestador no altera la intermediación de VET ON LINE en la contratación del servicio.
    Cuando un Prestador recibe una solicitud de contratación tiene derecho a aceptarla o rechazarla basado
    exclusivamente en su propio criterio personal.
    VII - Forma de pago del Cliente al Prestador
    VET ON LINE actúa como sistema de intermediación entre Prestador y Cliente, lo cual no incluye la gestión de cobros
    desde los Clientes y del pago hacia los Prestadores.
    Los servicios adquiridos por el Cliente deberán ser abonados al Prestador según medio que éste prefiera. Cualquier
    disconformidad existente en el contacto entre ambos Usuarios, VET ON LINE se abstiene de realizar cualquier tipo de
    devolución monetaria.
    VET ON LINE no es el prestador de los servicios contratados por parte del Cliente por lo que, en todo caso a los
    efectos de obtener las oportunas facturas o tickets sustitutivos, de conformidad con lo establecido en la
    legislación vigente, deberá dirigirse al Prestador quien, como profesional encargado de la prestación de los
    servicios, será el obligado a expedir los documentos anteriormente indicados. Es decir, el Prestador entregará al
    Cliente el comprobante correspondiente por el pago realizado, siendo el único responsable del cumplimiento de sus
    obligaciones fiscales al respecto.
    VET ON LINE pone a disposición del Cliente, el listado completo de Prestadores de servicio que se hayan dado de alta
    a través de la Plataforma pero no se hace responsable del costo, duración, tipo, modo y calidad de servicio que
    puedan brindar.
    VIII - Contraprestación del Prestador
    VET ON LINE tendrá derecho a percibir la retribución acordada al momento de la suscripción del Prestador, al inicio
    de cada periodo de facturación en función del tipo de suscripción y del momento en el que se produjo dicha
    asignación.
    VET ON LINE tendrá derecho a modificar el valor mensual de retribución comunicándolo vía correo electrónico al mail
    declarado por el Prestador al momento de la Suscripción.
    Los Prestadores ofrecerán sus servicios a través de la Plataforma y podrán ser contactados por los Clientes, los
    Prestadores cumplirán con un abono mensual para mantener su Perfil activo, en caso de no cumplir o demorar el pago
    solicitado, VET ON LINE reserva el derecho a la baja definitiva de su Perfil o inhabilitación hasta tanto no se
    regularice la situación.
    El Cliente tiene derecho a contratar todos los Prestadores de Servicio que desee a través de la Plataforma.
    IX - Calificación de los Prestadores
    La calificación que se suministra en relación con los Prestadores se lleva a cabo de manera meramente informativa,
    siendo responsabilidad del Cliente verificar la misma con carácter previo o en el momento de adquirir los servicios
    del Prestador. A estos efectos, la Plataforma permite que los Prestadores y los Clientes mantengan un contacto con
    carácter previo a la contratación de los servicios con la finalidad de que estos puedan conocerse y que ambos puedan
    satisfacer todas las dudas que pudieran surgir en la relación entre las partes.
    X - Publicaciones realizadas por los Usuarios en la Plataforma
    Todos los Usuarios (tanto Prestadores como Clientes) podrán publicar contenidos, enviar comunicaciones, sugerencias,
    ideas, comentarios, preguntas u otra información. Los Usuarios no podrán utilizar estos espacios que se habilitan en
    la Plataforma para incluir información con carácter obsceno, abusivo, o que constituya un supuesto de amenaza,
    injuria o calumnia, atentado al honor, intimidad o imagen de las personas o invada la privacidad de terceros,
    infrinja derechos de propiedad intelectual o de cualquier otra forma resulte ofensivo para terceros o censurable
    lesivos de bienes o intereses de VET ON LINE o de terceros que tengan cualquier tipo de relación con VET ON LINE .
    Igualmente queda terminantemente prohibida la utilización de la Plataforma de manera que se perjudique a los
    Usuarios del mismo o a terceros internautas. Los Usuarios se abstendrán de llevar a cabo cualquier acción que de
    cualquier otra forma sobrecarguen, dañen o inutilicen las redes, servidores y demás equipos informáticos (hardware)
    o productos y aplicaciones informáticas (software) de VET ON LINE o de terceros.
    VET ON LINE se reserva el derecho de eliminar o modificar cualquier tipo de información suministrada por los
    Usuarios si considera que la información tiene carácter lesivo.
    En caso de que el Usuario detecte cualquier información o contenido ofrecido por terceros puede tener la
    consideración de ilícito, puede proceder a notificarlo a VET ON LINE a equipo@vetonline.com.ar.
    XI - Subida de contenidos e imágenes por parte de Prestadores y Clientes
    Los usuarios autorizan a VET ON LINE para que pueda publicar dichos contenidos en la Plataforma y otras redes
    sociales como Facebook, Twitter, Blog, y similares.
    Los usuarios de VET ON LINE pueden incluir en la Plataforma contenidos, imágenes, fotografías, etc., el usuario
    deberá contar con los permisos, autorizaciones y/o consentimientos oportunos, a los efectos de llevar a cabo la
    subida de estos contenidos. En este sentido, el usuario será el único responsable de todos los daños y perjuicios
    que pudiera causar la utilización de su perfil, así como la subida de contenidos, información, datos, incluido, sin
    que se entienda con carácter limitativo, la vulneración de derechos de propiedad intelectual, industrial, derechos
    al honor, intimidad y propia imagen. De esta forma el usuario, mantendrá indemne a VET ON LINE de cualquier
    reclamación y/o sanción que pudieran imponerle a causa de los contenidos incluidos por el usuario en el Servicio.
    XII - Responsabilidades
    VET ON LINE actúa como intermediario en la contratación de servicios entre Prestadores y Clientes, por lo que su
    responsabilidad únicamente se circunscribe a este ámbito de actividad.
    En ningún caso VET ON LINE será responsable por los daños y/o perjuicios que puedan causarse como consecuencia de
    los servicios contratados a través de la Plataforma y que sean prestados por los Prestadores.
    Como el servicio prestado por el Prestador no es proporcionado por VET ON LINE , sino personalmente por el
    Prestador, el mismo será responsable de los daños que pudieren sufrir los animales a su cargo. Del mismo modo, VET
    ON LINE queda exento de toda responsabilidad por los daños que pudieren ocasionar los propios animales, sea a
    personas o cosas y que le fueren directamente imputables.
    Habida cuenta de que alguna de las actividades de los Prestadores se desarrollan en la vía pública, todo daño que
    pudiere sufrir el Prestador, sea en sus bienes o en su persona, en ocasión de la prestación de sus servicios, queda
    exclusivamente a su cargo, quedando, VET ON LINE , exento de toda responsabilidad en tal sentido.
    XIII - Incumplimiento
    El incumplimiento de cualquiera de las obligaciones establecidas en las presentes condiciones supondrá la automática
    eliminación de la cuenta del Usuario, y habilitará a VET ON LINE a reclamar cuantos daños y/o perjuicios pueda
    ocasionársele.
    Asimismo, si como consecuencia de la eliminación de una Cuenta por incumplimiento de los Términos y condiciones de
    uso de los servicios ofrecidos por VET ON LINE , un Prestador o un Cliente no pueden recibir/prestar un servicio,
    serán informados por VET ON LINE de esta circunstancia y no podrán reclamar a VET ON LINE por los daños y/o
    perjuicios que pudieran ser ocasionados.
    XIV - Subida de contenidos e imágenes por parte de Prestadores y Clientes
    El incumplimiento de cualquiera de las obligaciones establecidas en las presentes condiciones supondrá la automática
    eliminación de la cuenta del Usuario, y habilitará a VET ON LINE a reclamar cuantos daños y/o perjuicios pueda
    ocasionársele.
    Asimismo, si como consecuencia de la eliminación de una Cuenta por incumplimiento de los Términos y condiciones de
    uso de los servicios ofrecidos por VET ON LINE , un Prestador o un Cliente no pueden recibir/prestar un servicio,
    serán informados por VET ON LINE de esta circunstancia y no podrán reclamar a VET ON LINE por los daños y/o
    perjuicios que pudieran ser ocasionados.
    XV - Jurisdicción
    Este acuerdo estará regido en todos sus puntos por las leyes vigentes en la República Argentina.
    En caso de surgir cualquier desacuerdo, controversia o conflicto respecto de la interpretación o cumplimiento del
    presente Contrato, se someterá a la jurisdicción exclusiva de los Tribunales Nacionales Comerciales de la Ciudad
    Autónoma de Buenos Aires.
  </p>
</div>
</ion-content>