<ion-header>
  <ion-toolbar>
    <ion-title>Terminos y Condiciones</ion-title>
    <ion-buttons slot="start">
      <ion-back-button color="dark" default-href="#" [routerLink]="['/registro']"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
    Ex aliquid eius quaerat sed, molestiae non tenetur debitis quae cum,
    architecto optio assumenda sunt? Similique fuga ducimus voluptatibus neque est.
    Facilis!
  </p>
</ion-content>