<ion-header class="headerReg">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title color="headerReg">Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="backgroundLog">
  <ion-card >
    <img src="../../assets/backLog.png" alt="logoVet" class="img-card">
    <ion-card-header>
    </ion-card-header>
    <ion-card-content>
      <form action="formularioRegistro" (ngSubmit)="guardar()" [formGroup]="form">
        <ion-item>
          <ion-label position="floating">Nombre</ion-label>
          <ion-input formControlName="nombre"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Apellido</ion-label>
          <ion-input formControlName="apellido"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input formControlName="pass" type="password"> </ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Confirme Contraseña</ion-label>
          <ion-input formControlName="confirmPass" type="password"> </ion-input>
        </ion-item>
        <ion-select placeholder="Tipo de usuario">
          <ion-select-option value="veterinario">Veterinario</ion-select-option>
          <ion-select-option value="usuario">usuario</ion-select-option>
        </ion-select>
        <ion-button (click)="guardar()" class="botonReg">
          Registrarme
        </ion-button>
      </form>
    </ion-card-content>
  </ion-card>

</ion-content>
