<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title color="colorLogin">Registrarme</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Registro</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form action="formularioRegistro" (keyup.enter)="guardar()">
        <ion-item>
          <ion-label position="floating">Nombre</ion-label>
          <ion-input formControlName="nombre"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Apellido</ion-label>
          <ion-input formControlName="apellido"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input formControlName="pass" type="password"> </ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Confirme Contraseña</ion-label>
          <ion-input formControlName="confirmPass" type="password"> </ion-input>
        </ion-item>
        <br>
        <ion-button (click)="guardar()">
          Registrarse
        </ion-button>
      </form>
    </ion-card-content>
  </ion-card>

</ion-content>
